/* SETUP CODE */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* VARIABLES */
/* GENERIC STYLING */
html {
  font-size: 62.5%;
}

body, * {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.icon {
  margin-right: 5px;
}

.dark-mode:hover > i, .back:hover > i {
  transform: translateX(-5px);
}

.dark-mode > i, .back > i {
  transition: 0.5s ease;
}

/* HEADER */
header {
  box-shadow: 0px -10px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode p, .dark-mode i {
  font-size: 1.8rem;
}

/* MAIN */
.options {
  margin: 50px 0;
}

.options form {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.result {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.country {
  width: calc(33.3333333333% - 30px);
  gap: 30px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 40px;
  box-shadow: 0px 0px 15px -5px black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.country:hover {
  transform: scale(1.1);
}

.country, .country-info {
  background-color: hsl(0, 0%, 100%);
}

.country-info, .country-name {
  padding: 10px;
}

.country-info {
  font-weight: 600;
}

.country-name {
  font-size: 2rem;
  font-weight: 800;
}

.country img {
  width: 100%;
  height: 50%;
}

.input-country {
  padding: 10px 10px 10px 50px;
  width: 50%;
}

.button-input {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.input-icon {
  font-size: 2rem;
}

.input-icon:hover {
  color: rgb(84, 83, 83);
}

.filter {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
}

/* DETAILED MAIN */
.detailed-country {
  display: flex;
  gap: 3rem;
}

.detailed-country-name {
  font-size: 2rem;
  font-weight: 600;
}

.detailed-information {
  display: flex;
  gap: 20px;
}

.detailed-country-info {
  width: 50%;
}

.detailed {
  font-weight: 600;
  font-size: 2rem;
}

.detailed-native-name {
  font-size: 1.5rem;
}

.back {
  background-color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0px black;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .detailed-country {
    flex-direction: column;
  }
  .result {
    flex-direction: column;
    align-items: center;
  }
  .country {
    width: 100%;
    max-width: 400px;
  }
  .wrapper {
    max-width: 600px;
    width: 80%;
  }
}