/* VARIABLES */
/* GENERIC STYLING */
html {
  font-size: 62.5%;
}

body, * {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN */
.options form {
  display: flex;
  justify-content: space-between;
}

.result {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.country {
  width: calc(25% - 30px);
  gap: 30px;
  height: 450px;
  overflow-y: auto;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px -5px black;
}

.country, .country-info {
  background-color: hsl(0, 0%, 100%);
}

.country-info, .country-name {
  padding: 10px;
}

.country-info {
  font-weight: 600;
}

.country-name {
  font-size: 2rem;
  font-weight: 800;
}

.country img {
  width: 100%;
  height: 50%;
}