/* VARIABLES */

$darkModeBackground: hsl(207, 26%, 17%);
$darkModeText: hsl(0, 0%, 100%);
$darkModeElement: hsl(209, 23%, 22%);

$lightModeBackground: hsl(0, 0%, 98%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeElement: hsl(0, 0%, 100%);
$lightModeInput: hsl(0, 0%, 52%);

$bodyFontSize: 14px;
$detailedFontSize: 14px;
$fontFamily: 'Nunito Sans', sans-serif;

/* GENERIC STYLING */

html {
    font-size: 62.5%;
}

body, * {
    font-family: $fontFamily;
    font-size: $bodyFontSize;
}

body {
    background-color: $lightModeBackground;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */

.options form {
    display: flex;
    justify-content: space-between;
}

.result {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.country {
    width: calc((100% / 4) - 30px);
    gap: 30px;
    height: 450px;
    overflow-y: auto;
    margin-bottom: 40px;
    box-shadow: 5px 5px 20px -5px black;
}

.country, .country-info {
    background-color: $lightModeElement;
}

.country-info, .country-name {
    padding: 10px;
}

.country-info {
    font-weight: 600;
}

.country-name {
    font-size: 2rem;
    font-weight: 800;
}

.country img {
    width: 100%;
    height: 50%;
}